<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bhatnagar.arpit.wallet">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".Util.QRScanner"
            android:label="Scan QR Code"/>
        <activity
            android:name=".UI.MyPhoneNumber"
            android:label="My QR Code"/>
        <activity
            android:name=".UI.GetAmount"
            android:label="Pay"/>
        <activity
            android:name=".UI.TransactionComplete"
            android:label="Success"/>
        <activity
            android:name=".UI.Otp"
            android:label="Confirmation"/>
        <activity
            android:name=".UI.OfflineQR"
            android:label="Payment"/>
        <activity
            android:name=".UI.OfflineQrResponse"
            android:label="Payment"/>
        <activity
            android:name=".UI.ReceivePayment"
            android:label="Receive"/>
        <activity
            android:name=".UI.AddAmount"
            android:label="Add Amount"/>
        <activity android:name=".UI.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.SetNum"
            android:label="Welcome"/>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation"/>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <receiver
            android:name=".Util.Network.NetworkChanged"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>